.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table th {
    border-bottom: 2px solid #dee2e6;
    background-color: #e9ecef;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .btn-primary {
    margin: 10px;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
  
  .btn-danger {
    margin: 10px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
.pagination {
    text-decoration: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  footer {
    bottom: 0;
  }