*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --primary-color: #f9ba11;
    --secondary-color: #d7d7d7;
  }
  
  
  .divider:after,
  .divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  }
  
  .form-outline {
    position: relative;
  }
  
  .form-outline i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  }
  
  .h-custom {
  background: aliceblue;
  height: calc(100% - 73px);
  }
  
  .row > *{
    border-radius: 1px;
  
  }  
  
  @media (min-width: 768px) {
  body {
    font-size: 16px;
  }
  }
  
  /* Máy tính bảng */
  @media (min-width: 576px) and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  }
  
  /* Điện thoại */
  @media (max-width: 575px) {
  body {
    font-size: 12px;
  }
  }